<h1 class="todo_list_title">Reset Your Password</h1>
<%= form_tag password_resets_path do %>
  <div class="forms">
    <%= label_tag :email, "Email" %><br>
    <%= text_field_tag :email %>
  </div>
  <div class="links">
    <%= submit_tag "Reset" %>
  </div>
  <div class="links">
    <%= link_to 'Back', root_path %>
  </div>
<% end %>