<p id="notice"><%= notice %></p>

<div class="forms">
  <strong>First name:</strong>
  <%= @user.first_name %>
</div>

<div class="forms">
  <strong>Last name:</strong>
  <%= @user.last_name %>
</div>

<div class="forms">
  <strong>Email:</strong>
  <%= @user.email %>
</div>

<p>
  <strong>Password digest:</strong>
  <%= @user.password_digest %>
</p>
<div class="links">
  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Back', todo_lists_path %>
</div>
