<!DOCTYPE html>
<html>
<head>
  <title>Todo Lists by MaxKos</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">

</head>
<body>

<h1 class="todo_list_title"><%= link_to 'SIMPLE TODO LISTS', root_path %></h1>
<h2 class="todo_list_sub_title">for RubyGarage</h2>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
